/* App */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* User Profile */
.Profile-panel, .Experiences-panel {
  text-align: left;
}

.followers, .following {
  border-bottom: 1px dotted black;
  color: #006080;
}

.Users-list {
  list-style: none;
}

.Project-info {
  text-align: left;
}

.Project-info ul {
  list-style: none;
  padding-left: 0;
}

.Search {
  padding-bottom: 25px;
}

.Project {
  height: 400px;
}
